.about_text {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: 300;
    font-family: 'Space Mono', monospace;
    color: #F6FDC3;
}


.misstion {
    display: flex;
    height: 500px;
}

.misstion_text h1 {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
}

.img_container {
    width: 800px;
    flex-grow: 8;
}


.pharagrap {
    font-size: 32px;
    font-family: 'Space Mono', monospace;


}