/* font-family: 'Space Grotesk', sans-serif; */

* {
    color: white;
    text-decoration: none;
}

.home {
    background: linear-gradient(to bottom, rgba(33, 64, 238, 0.52), rgba(33, 64, 238, 0.52)), url("images/background.jpg");

}

.content_container {
    background-size: cover;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-bottom: 5%;
    box-sizing: border-box;
}


.title {
    flex-grow: 8;

}
.logo  {
    display: block;
    text-decoration: none;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 17px;
    color: #F6FDC3;
    font-family: Orbitron;
    font-size: 36px;
    font-style: oblique;
}

nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 14px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav_list {
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.nav_list a {
    display: block;
    font-family: 'Space Mono', monospace;
    color: #F9F3CC;
    font-size: 20px;
    font-weight: 400;
}

.nakitai img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 60%;
    box-shadow: rgba(249, 243, 204, 0.8) 0 0 10px;

}

.nakitai {
    display: flex;
}

.nakitai_des {
    width: 40%;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: rgba(249, 243, 204, 0.8) 0 0 10px;
}

.parent {
    margin: 0 auto;
    width: 85%;
}
.parent h1 {
    color: black;
}

.parag{
    color: black;
    line-height: 1.5;
    font-size: 20px;
}

.banner_container {
    display: flex;
    gap: 5px;
}

.banner {
    color: white;
    background-color: #687EFF;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px;
    height: 10px;
}

.top_anime_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line {
    width: 70%;
    height: 1px;
    background-color: rgb(224, 224, 224);
}

.top_anime_container strong {
    color: #6499E9;
}

.slider_container {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.slider_container img {
    width: 250px;
    border-radius: 5%;
    height: 300px;
    object-fit: cover;
}


.slider_container img:hover {
    transition: all .5s ease-out;
    height: 350px;
    width: 300px;
}

.footer {
    margin-top: 20px;
    background: linear-gradient(to bottom, rgba(33, 64, 238, 0.52), rgba(33, 64, 238, 0.52)), url("images/footer.jpg") no-repeat center;
    background-size: cover;
    height: 520px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-sizing: border-box;
    padding-top: 300px;
}

.footer_container {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.about_content {
    line-height: 2;

}
.about_content , .email, .phone_number, .location {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'Lora', serif;

}



.banner_container img {
    width: 30px;
    height: 30px;
}


.video_container {
    display: flex;
    justify-content: space-between;
}

.video {
    display: flex;
    gap: 5px;
    width: 100%;
    background-color: #DFCCFB;
    margin-left: 10px;
    border-radius: 20px;
}

.video video {
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.video_des {
    padding: 5px;

}

.video_des h3, .video_des p {
    color: black;
    font-family: 'Lora', serif;

}
.video_des h3 {
    font-weight: 400;
}

.line_last {
    width: 100%;
    text-align: center;
    background-color: rgb(224, 224, 224);
    height: 1px;
    margin-bottom: 5px;
}

