* {
    font-family: 'Mohave', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Space Mono', monospace;
    color: aliceblue;
    margin: 0 auto;
}

h1 {
    letter-spacing: 17px;
    color: rgb(217, 218, 219);
    font-family: Orbitron;
    font-size: 32px;
    font-weight: 700;


}

nav {
    background-image: linear-gradient(to bottom, rgba(104, 126, 255, 0.52), rgba(104, 126, 255, 0.52)), url("images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 600px;
}
.nav_list {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}