header:first-child {
    background-color: azure;
    color: rgb(16, 54, 56);
}

body {
    width: 500px;
    margin: 0 auto;
    height: 600px;
    margin-top: 20px;
}

aside {
    background-color: rgb(95, 90, 238);
    color: aliceblue;
    flex-grow: 1;
}

section {
    background-color: violet;
    flex-grow: 1;

}