
body {
    margin-top: 50px;

}
@keyframes slide {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(300px);
        background-color: crimson;
        border-radius: 50%;
    }
}


.box {
    width: 300px;
    height: 300px;
    background-color: darkorange;
    border-radius: 10%;
    animation: slide 3s ease-in 0s 4;

}