div:first-child {
    width: 50px;
    height: 50px;
    background-color: burlywood;
    border-radius: 50%;
    margin-bottom: 10px;

}

body {
    background-color: cadetblue;
    text-align: center;
}

.trangle {
    width: 100px;
    height: 100px;
    background-color: beige;
    margin-bottom: 10px;
}

.third {
    color: violet;
    width: 600px;
    background-color: rgb(121, 107, 105);
    padding: 10px;
}