/* blockquote {
    float: right;
    width: 275px;
    font-size: 130%;
    font-style: italic;
    font-family: Georgia, Times, serif;
    margin: 0px 0px 10px 10px;
    padding: 10px;
    border-top: 1px solid #665544;
    border-bottom: 1px solid #665544;
}

body {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;
} */

body {
  width: 750px;
  font-family: Arial, Verdana, sans-serif;
  margin: 0 auto;
  margin-top: 100px;
  color: #665544;
}
p {
  width: 220px;
  float: left;
  margin: 5px;
  padding: 5px;
}

.clear {
  clear: left;
}
div {
  border: 1px solid #665544;
  overflow: auto;
  width: 100%;
}
